body{
    background-color: #191919;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns with equal width */
    grid-gap: 10px; /* gap between grid items */
}

.item {
    background-color: #f2f2f2;
    padding: 10px;
}
.wrapper{
    margin: 3vh 5%;
}
.return{
    grid-column: span 4;
    color: #191919;
    text-align: right;
    background-color: #ffffff;
    border-radius: 5px;
    height: 7vh;
    background-color: #B3B3B3;
    padding-right: 5%;
    font-weight: bolder;
    font-size: 110%;
}
.marginTop{
    margin: 10vh;
}
.numButton {
    color: white;
    height: 7vh;
    grid-column: span 1;
    width: 100%;
    font-weight: bolder;
    font-size: 110%;
    border-radius: 5px;
    background-color: #404040;
}

.numButton:hover{
    transition: 0.2s ease-in-out;
    border: 2px solid #BC13FE;
}
.numButton:active{
    background-color: #BC13FE;
    color: white;
}

#equals{
    margin-top: 1vh;
    grid-column: span 2;
    background-color: #BC13FE;
    color: white;
}
#zero{
    margin-top: 1vh;
    grid-column: span 2;
    background-color: #404040;
    color: white;
}
.historyContainer{
    grid-column: span 4;
    color: #191919;
    text-align: right;
    background-color: #ffffff;
    border-radius: 5px;
    height: 7vh;
    background-color: #B3B3B3;
    padding-right: 5%;
    font-weight: bolder;
    font-size: 110%;
    margin: 1vh 5%;
}

@media screen and (min-width: 650px) {
    .wrapper{
        margin: 3vh 30%;
    }
    .historyContainer{
        margin: 1vh 30%;
    }
}

